
body, html {
    height: 100%;
    font-family: Montserrat, sans-serif;
}


.preload *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

h1,h2,h3,h4,h5,h6 {
    margin-top:0;
    margin-bottom:2rem;
    font-family:Montserrat, sans-serif;
    font-weight:700;
    color:#2A3A3F;
}

.hero-image h1{
    margin-bottom: 20px !important;
}

.btn-xl{
    font-size: 20px !important;
    padding: 15px 60px !important;
    white-space: nowrap;
}

.my-container{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    
}

.header-logo{
    padding-left:25px;
}

nav
{
	min-height: 50px;
	background: #3D4852;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.navbar-nav
{
	float: right !important;
    
}

.navbar-nav > li{
    color: white;
}

/*for white charactes*/
.whiteChar > a{
    color:#fff ;
}

.hero-image{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center; 
    /*position: relative;*/
    min-height: 500px;
    overflow:auto;
    /*clear:both;*/
}

.hero-image .my-container{
    padding-top: 120px;
}

.hero-image h1{
    font-size: 54px;
    font-weight:bold;
    color: #3d4852;
}


.hero-title{
    /*text-align: left;*/
    /*position: absolute;*/
    /*top: 20%;
    left: 50%;*/
    width: 60% !important;
    /*transform: translate(0, 60%);*/
    color: black;
}

.page_welcome{
    animation: title-in  forwards ease-in-out 750ms;
}

/*search and filter bar*/
.one-fourth{
    width:24.5%;
    display: inline-block;
    padding:5px 10px 5px 10px;
}



/* making the borders of the input form to be pointed instead of blunt*/
*{
    border-radius: 0 !important;
}

/*select{
    padding: 10px 20px;
    margin: 20px 0;
    color: #9AA0A5;
    border: 2px solid #CDD1D4;
    font-size: 16px;
    background: url(../images/select-arrow.png) no-repeat right;
    background-position: 95%;
    -webkit-appearance: none;
    overflow: hidden;
}*/

/*
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}*/

select.select  {
    padding: 0px 6px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
 
    -webkit-appearance: none;    
    -moz-appearance: none;  
    appearance: none;
 
    text-indent: 0.01px;
    text-overflow: '';  
}
 
select.select:focus  {
    outline: none;
}

.temp-contents{
    padding: 10px 0;
}


/*.one-fourth select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none}*/
    
select{
    padding:0px 20px !important;
    margin:0px 0;
    color:#9AA0A5 !important;
    border:2px solid #CDD1D4 !important;
    font-size:16px;
    background:url("../images/select-arrow.png") no-repeat right;
    background-position:95%;
    -webkit-appearance:none;
    overflow:hidden
}
select:hover{
    cursor:pointer;
    border:2px solid #3d4852 !important;
    background:url("../images/select-arrow-hover.png") no-repeat right;
    background-position:95%}

option{
    height:20px;
    line-height:20px;
    font-size:14px
}

.orange-button {
    background-color: #f07e5e;
    border: none;
    color: white;
    padding: 15px 65px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}


.left-side{
    float:left;
    width: 50%;
}

.right-side{
    float:right;
    width:50%;
}

.information{
    width:90%;
}

.odd{
    background-color: #eee;
    
}

.even{
    background-color: white;
}

.picture{
    overflow: auto;
    display: inline-block;
}

.left-image{
    width: 100%;
}

.right-image{
    width: 100%;
}

.display{
    width: 100px;
    height: 300px;
    /*margin: 10px;*/
    float: left;
    border: 5px solid;
    border-color: transparent;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

/*.display {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center;
}*/

/*.car-image{
    height:280px;
    width:280px;
}*/

.left-image, .right-image{
    float:left;
    
}

.information{
    font-size: 18px;
}

.information h3{
    font-size: 30px;
    font-weight: bold;
}

.information button{
    padding: 10px 25px !important;
}

.display .mask,.display .content {
   width: 100%;
   height: 99.6%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.display h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 25px;
   padding: 10px;
   /*background: rgba(0, 0, 0, 0.8);*/
   margin: 90px 0 0 0;
}


.display img {
   display: block;
   position: relative;
}

.display p{
    color:white;
    font-size: 20px;
}


.display a.more: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.contents{
    overflow:auto;
    padding:2rem 0 2rem 0;
}


/* footer*/
.my-footer{
    padding: 50px 0;
}

footer{
    background-color: #3D4852;
    display: block;
    box-sizing:border-box;
    overflow:auto;
}

.footer-text-div>li::after{
    content: "|";
    padding:10px;
    
}

.footer-text-div{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    
}

.footer-text{
    float:left;
    color: #6d7781;
    list-style-type: none;
}

.footer-left{
    padding: 0 0 0 25px;
}

.footer-right{
    float:right !important;
    padding: 0 40px;
}

/*not sure if its good way to do this*/
.footer-right>ul>li>a{
    color:#6d7781;
}


@keyframes title-in {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-25%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}