html {
font-family:sans-serif;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
font-size:62.5%;
}

body {
line-height:1.6;
font-size:1.4rem;
font-family:Montserrat, sans-serif;
font-weight:300;
color:#93a4aa;
margin:0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
display:block;
}

audio,canvas,progress,video {
display:inline-block;
}

audio:not([controls]) {
display:none;
height:0;
}

progress {
vertical-align:baseline;
}

template,[hidden] {
display:none;
}

a {
background-color:transparent;
-webkit-text-decoration-skip:objects;
color:#5EA4F7;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
text-decoration:none;
border-bottom:1px dotted #5EA4F7;
}

a:active,a:hover {
outline-width:0;
}

abbr[title] {
border-bottom:none;
text-decoration:underline dotted;
}

b,strong {
font-weight:bolder;
}

dfn {
font-style:italic;
}

h1 {
font-size:4rem;
line-height:1.2;
letter-spacing:-.1rem;
margin:.67em 0;
}

mark {
background-color:#ff0;
color:#000;
}

small {
font-size:80%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sub {
bottom:-.25em;
}

sup {
top:-.5em;
}

img {
border-style:none;
}

code,kbd,pre,samp {
font-family:monospace, monospace;
font-size:1em;
}

figure {
margin:1em 40px;
}

hr {
box-sizing:content-box;
height:0;
overflow:visible;
margin-top:3rem;
margin-bottom:3.5rem;
border-top:1px solid #E1E1E1;
border-width:0;
}

button,input,optgroup,select,textarea {
font:inherit;
margin:0;
}

optgroup {
font-weight:700;
}

button,input {
overflow:visible;
}

button,select {
text-transform:none;
}

button,html [type="button"],[type="reset"],[type="submit"] {
-webkit-appearance:button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
border-style:none;
padding:0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
outline:1px dotted ButtonText;
}

fieldset {
border:1px solid silver;
border-width:0;
margin:0 2px;
padding:0;
}

legend {
box-sizing:border-box;
color:inherit;
display:table;
max-width:100%;
white-space:normal;
padding:0;
}

textarea {
overflow:auto;
min-height:65px;
padding-top:6px;
padding-bottom:6px;
}

[type="checkbox"],[type="radio"] {
box-sizing:border-box;
padding:0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
height:auto;
}

[type="search"] {
-webkit-appearance:textfield;
outline-offset:-2px;
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
-webkit-appearance:none;
}

::-webkit-input-placeholder {
opacity:0.54;
color:rgba(255,255,255,0.7);
}

::-webkit-file-upload-button {
-webkit-appearance:button;
font:inherit;
}

.container {
position:relative;
width:100%;
box-sizing:border-box;
max-width:1140px;
margin:0 auto;
padding:0 20px;
}

.column,.columns {
width:100%;
float:left;
box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6 {
margin-top:0;
margin-bottom:2rem;
font-family:Montserrat, sans-serif;
font-weight:700;
color:#2A3A3F;
}

h2 {
font-size:3.6rem;
line-height:1.25;
letter-spacing:-.1rem;
}

h3 {
font-size:3rem;
line-height:1.3;
letter-spacing:-.1rem;
}

h4 {
font-size:2.4rem;
line-height:1.35;
letter-spacing:-.08rem;
}

h5 {
font-size:1.8rem;
line-height:1.5;
letter-spacing:-.05rem;
}

h6 {
font-size:1.5rem;
line-height:1.6;
letter-spacing:0;
}

a:hover {
color:#4288DC;
border-bottom:1px dotted #4288DC;
}

.button,button,input[type="submit"],input[type="reset"],input[type="button"] {
height:auto;
font-size:1.3rem;
line-height:normal;
text-transform:uppercase;
font-family:Montserrat, sans-serif;
font-weight:700;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
letter-spacing:0;
border-radius:50px;
border:2px solid #999;
color:#999;
padding:1.2rem 3.2rem;
}

.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:focus,button:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus {
color:#333;
outline:0;
border-color:#888;
}

.button.button-primary,button.button-primary,input[type="submit"].button-primary,input[type="reset"].button-primary,input[type="button"].button-primary {
color:#FFF;
background-color:#33C3F0;
border-color:#33C3F0;
}

.button.button-primary:hover,button.button-primary:hover,input[type="submit"].button-primary:hover,input[type="reset"].button-primary:hover,input[type="button"].button-primary:hover,.button.button-primary:focus,button.button-primary:focus,input[type="submit"].button-primary:focus,input[type="reset"].button-primary:focus,input[type="button"].button-primary:focus {
color:#FFF;
background-color:#1EAEDB;
border-color:#1EAEDB;
}

input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],textarea,select {
height:38px;
background-color:#fff;
border:1px solid #D1D1D1;
border-radius:4px;
box-shadow:none;
box-sizing:border-box;
padding:6px 10px;
}

input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],textarea {
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}

input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="url"]:focus,input[type="password"]:focus,textarea:focus,select:focus {
border:1px solid #33C3F0;
outline:0;
}

label,legend {
display:block;
margin-bottom:.5rem;
font-weight:600;
}

label>.label-body {
display:inline-block;
margin-left:.5rem;
font-weight:400;
}

ul {
list-style:circle inside;
}

ol {
list-style:decimal inside;
}

ol,ul {
padding-left:0;
margin-top:0;
}

ul ul,ul ol,ol ol,ol ul {
font-size:90%;
margin:1.5rem 0 1.5rem 3rem;
}

code {
font-size:90%;
white-space:nowrap;
background:#F1F1F1;
border:1px solid #E1E1E1;
border-radius:4px;
margin:0 .2rem;
padding:.2rem .5rem;
}

pre>code {
display:block;
white-space:pre;
padding:1rem 1.5rem;
}

th,td {
text-align:left;
border-bottom:1px solid #E1E1E1;
padding:12px 15px;
}

th:first-child,td:first-child {
padding-left:0;
}

th:last-child,td:last-child {
padding-right:0;
}

input,textarea,select,fieldset {
margin-bottom:1.5rem;
}

pre,blockquote,dl,figure,table,p,ul,ol,form {
margin-bottom:2.5rem;
}

.u-full-width {
width:100%;
box-sizing:border-box;
}

.u-max-full-width {
max-width:100%;
box-sizing:border-box;
}

.u-pull-right {
float:right;
}

.u-pull-left {
float:left;
}

.container:after,.row:after,.u-cf {
content:"";
display:table;
clear:both;
}

.animated {
-webkit-animation-duration:1s;
animation-duration:1s;
-webkit-animation-fill-mode:both;
animation-fill-mode:both;
}

.animated.infinite {
-webkit-animation-iteration-count:infinite;
animation-iteration-count:infinite;
}

.animated.hinge {
-webkit-animation-duration:2s;
animation-duration:2s;
}

40%,43% {
-webkit-transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
-webkit-transform:translate3d(0,-30px,0);
transform:translate3d(0,-30px,0);
}

70% {
-webkit-transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
-webkit-transform:translate3d(0,-15px,0);
transform:translate3d(0,-15px,0);
}

90% {
-webkit-transform:translate3d(0,-5px,0);
transform:translate3d(0,-5px,0);
}

.bounce {
-webkit-animation-name:bounce;
animation-name:bounce;
-webkit-transform-origin:center bottom;
transform-origin:center bottom;
}

.flash {
-webkit-animation-name:flash;
animation-name:flash;
}

50% {
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in;
opacity:0;
-webkit-transform:scale3d(0.3,0.3,0.3);
transform:scale3d(0.3,0.3,0.3);
}

100% {
-webkit-transform-origin:center bottom;
transform-origin:center bottom;
-webkit-animation-timing-function:cubic-bezier(0.175,0.885,0.32,1);
animation-timing-function:cubic-bezier(0.175,0.885,0.32,1);
visibility:hidden;
-webkit-transform:translateY(-50%) scale(0);
transform:translateY(-50%) scale(0);
opacity:0;
}

.pulse {
-webkit-animation-name:pulse;
animation-name:pulse;
}

30% {
-webkit-transform:perspective(400px) rotate3d(0,1,0,-15deg);
transform:perspective(400px) rotate3d(0,1,0,-15deg);
opacity:1;
}

40% {
-webkit-animation-timing-function:ease-out;
animation-timing-function:ease-out;
-webkit-transition-timing-function:ease-in;
transition-timing-function:ease-in;
-webkit-transform:translateY(-50%) scale(0.9);
transform:translateY(-50%) scale(0.9);
opacity:0;
}

65% {
-webkit-transform:scale3d(0.95,1.05,1);
transform:scale3d(0.95,1.05,1);
}

75% {
-webkit-transform:translate3d(0,10px,0);
transform:translate3d(0,10px,0);
}

.rubberBand {
-webkit-animation-name:rubberBand;
animation-name:rubberBand;
}

10%,30%,50%,70%,90% {
-webkit-transform:translate3d(-10px,0,0);
transform:translate3d(-10px,0,0);
}

20%,40%,60%,80% {
-webkit-transform:translate3d(10px,0,0);
transform:translate3d(10px,0,0);
}

.shake {
-webkit-animation-name:shake;
animation-name:shake;
}

60% {
opacity:1;
-webkit-transform:scale3d(0.475,0.475,0.475) translate3d(0,-60px,0);
transform:scale3d(0.475,0.475,0.475) translate3d(0,-60px,0);
-webkit-animation-timing-function:cubic-bezier(0.175,0.885,0.32,1);
animation-timing-function:cubic-bezier(0.175,0.885,0.32,1);
}

80% {
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in;
-webkit-transform:skewX(-5deg);
transform:skewX(-5deg);
opacity:1;
}

.swing {
-webkit-transform-origin:top center;
transform-origin:top center;
-webkit-animation-name:swing;
animation-name:swing;
}

10%,20% {
-webkit-transform:scale3d(0.9,0.9,0.9) rotate3d(0,0,1,-3deg);
transform:scale3d(0.9,0.9,0.9) rotate3d(0,0,1,-3deg);
}

30%,50%,70%,90% {
-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
}

40%,60%,80% {
-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
}

.tada {
-webkit-animation-name:tada;
animation-name:tada;
}

15% {
-webkit-transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
}

45% {
-webkit-transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
}

.wobble {
-webkit-animation-name:wobble;
animation-name:wobble;
}

0% {
opacity:0;
-webkit-transform:translate3d(0,3000px,0);
transform:translate3d(0,3000px,0);
}

20% {
-webkit-transform:scale3d(1.1,1.1,1.1);
transform:scale3d(1.1,1.1,1.1);
}

.bounceIn {
-webkit-animation-name:bounceIn;
animation-name:bounceIn;
}

.bounceInDown {
-webkit-animation-name:bounceInDown;
animation-name:bounceInDown;
}

.bounceInLeft {
-webkit-animation-name:bounceInLeft;
animation-name:bounceInLeft;
}

.bounceInRight {
-webkit-animation-name:bounceInRight;
animation-name:bounceInRight;
}

.bounceInUp {
-webkit-animation-name:bounceInUp;
animation-name:bounceInUp;
}

50%,55% {
opacity:1;
-webkit-transform:scale3d(1.1,1.1,1.1);
transform:scale3d(1.1,1.1,1.1);
}

.bounceOut {
-webkit-animation-name:bounceOut;
animation-name:bounceOut;
}

40%,45% {
opacity:1;
-webkit-transform:translate3d(0,20px,0);
transform:translate3d(0,20px,0);
}

.bounceOutDown {
-webkit-animation-name:bounceOutDown;
animation-name:bounceOutDown;
}

.bounceOutLeft {
-webkit-animation-name:bounceOutLeft;
animation-name:bounceOutLeft;
}

.bounceOutRight {
-webkit-animation-name:bounceOutRight;
animation-name:bounceOutRight;
}

.bounceOutUp {
-webkit-animation-name:bounceOutUp;
animation-name:bounceOutUp;
}

.fadeIn {
-webkit-animation-name:fadeIn;
animation-name:fadeIn;
}

.fadeInDown {
-webkit-animation-name:fadeInDown;
animation-name:fadeInDown;
}

.fadeInDownBig {
-webkit-animation-name:fadeInDownBig;
animation-name:fadeInDownBig;
}

.fadeInLeft {
-webkit-animation-name:fadeInLeft;
animation-name:fadeInLeft;
}

.fadeInLeftBig {
-webkit-animation-name:fadeInLeftBig;
animation-name:fadeInLeftBig;
}

.fadeInRight {
-webkit-animation-name:fadeInRight;
animation-name:fadeInRight;
}

.fadeInRightBig {
-webkit-animation-name:fadeInRightBig;
animation-name:fadeInRightBig;
}

.fadeInUp {
-webkit-animation-name:fadeInUp;
animation-name:fadeInUp;
}

.fadeInUpBig {
-webkit-animation-name:fadeInUpBig;
animation-name:fadeInUpBig;
}

.fadeOut {
-webkit-animation-name:fadeOut;
animation-name:fadeOut;
}

.fadeOutDown {
-webkit-animation-name:fadeOutDown;
animation-name:fadeOutDown;
}

.fadeOutDownBig {
-webkit-animation-name:fadeOutDownBig;
animation-name:fadeOutDownBig;
}

.fadeOutLeft {
-webkit-animation-name:fadeOutLeft;
animation-name:fadeOutLeft;
}

.fadeOutLeftBig {
-webkit-animation-name:fadeOutLeftBig;
animation-name:fadeOutLeftBig;
}

.fadeOutRight {
-webkit-animation-name:fadeOutRight;
animation-name:fadeOutRight;
}

.fadeOutRightBig {
-webkit-animation-name:fadeOutRightBig;
animation-name:fadeOutRightBig;
}

.fadeOutUp {
-webkit-animation-name:fadeOutUp;
animation-name:fadeOutUp;
}

.fadeOutUpBig {
-webkit-animation-name:fadeOutUpBig;
animation-name:fadeOutUpBig;
}

.animated.flip {
-webkit-backface-visibility:visible;
backface-visibility:visible;
-webkit-animation-name:flip;
animation-name:flip;
}

.flipInX {
-webkit-backface-visibility:visible!important;
backface-visibility:visible!important;
-webkit-animation-name:flipInX;
animation-name:flipInX;
}

.flipInY {
-webkit-backface-visibility:visible!important;
backface-visibility:visible!important;
-webkit-animation-name:flipInY;
animation-name:flipInY;
}

.flipOutX {
-webkit-animation-name:flipOutX;
animation-name:flipOutX;
-webkit-backface-visibility:visible!important;
backface-visibility:visible!important;
}

.flipOutY {
-webkit-backface-visibility:visible!important;
backface-visibility:visible!important;
-webkit-animation-name:flipOutY;
animation-name:flipOutY;
}

.lightSpeedIn {
-webkit-animation-name:lightSpeedIn;
animation-name:lightSpeedIn;
-webkit-animation-timing-function:ease-out;
animation-timing-function:ease-out;
}

.lightSpeedOut {
-webkit-animation-name:lightSpeedOut;
animation-name:lightSpeedOut;
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in;
}

.rotateIn {
-webkit-animation-name:rotateIn;
animation-name:rotateIn;
}

.rotateInDownLeft {
-webkit-animation-name:rotateInDownLeft;
animation-name:rotateInDownLeft;
}

.rotateInDownRight {
-webkit-animation-name:rotateInDownRight;
animation-name:rotateInDownRight;
}

.rotateInUpLeft {
-webkit-animation-name:rotateInUpLeft;
animation-name:rotateInUpLeft;
}

.rotateInUpRight {
-webkit-animation-name:rotateInUpRight;
animation-name:rotateInUpRight;
}

.rotateOut {
-webkit-animation-name:rotateOut;
animation-name:rotateOut;
}

.rotateOutDownLeft {
-webkit-animation-name:rotateOutDownLeft;
animation-name:rotateOutDownLeft;
}

.rotateOutDownRight {
-webkit-animation-name:rotateOutDownRight;
animation-name:rotateOutDownRight;
}

.rotateOutUpLeft {
-webkit-animation-name:rotateOutUpLeft;
animation-name:rotateOutUpLeft;
}

.rotateOutUpRight {
-webkit-animation-name:rotateOutUpRight;
animation-name:rotateOutUpRight;
}

20%,60% {
-webkit-transform:rotate3d(0,0,1,80deg);
transform:rotate3d(0,0,1,80deg);
-webkit-transform-origin:top left;
transform-origin:top left;
-webkit-animation-timing-function:ease-in-out;
animation-timing-function:ease-in-out;
}

40%,80% {
-webkit-transform:rotate3d(0,0,1,60deg);
transform:rotate3d(0,0,1,60deg);
-webkit-transform-origin:top left;
transform-origin:top left;
-webkit-animation-timing-function:ease-in-out;
animation-timing-function:ease-in-out;
opacity:1;
}

.hinge {
-webkit-animation-name:hinge;
animation-name:hinge;
}

.rollIn {
-webkit-animation-name:rollIn;
animation-name:rollIn;
}

.rollOut {
-webkit-animation-name:rollOut;
animation-name:rollOut;
}

.zoomIn {
-webkit-animation-name:zoomIn;
animation-name:zoomIn;
}

.zoomInDown {
-webkit-animation-name:zoomInDown;
animation-name:zoomInDown;
}

.zoomInLeft {
-webkit-animation-name:zoomInLeft;
animation-name:zoomInLeft;
}

.zoomInRight {
-webkit-animation-name:zoomInRight;
animation-name:zoomInRight;
}

.zoomInUp {
-webkit-animation-name:zoomInUp;
animation-name:zoomInUp;
}

.zoomOut {
-webkit-animation-name:zoomOut;
animation-name:zoomOut;
}

.zoomOutDown {
-webkit-animation-name:zoomOutDown;
animation-name:zoomOutDown;
}

.zoomOutLeft {
-webkit-animation-name:zoomOutLeft;
animation-name:zoomOutLeft;
}

.zoomOutRight {
-webkit-animation-name:zoomOutRight;
animation-name:zoomOutRight;
}

.zoomOutUp {
-webkit-animation-name:zoomOutUp;
animation-name:zoomOutUp;
}

.slideInDown {
-webkit-animation-name:slideInDown;
animation-name:slideInDown;
}

.slideInLeft {
-webkit-animation-name:slideInLeft;
animation-name:slideInLeft;
}

.slideInRight {
-webkit-animation-name:slideInRight;
animation-name:slideInRight;
}

.slideInUp {
-webkit-animation-name:slideInUp;
animation-name:slideInUp;
}

.slideOutDown {
-webkit-animation-name:slideOutDown;
animation-name:slideOutDown;
}

.slideOutLeft {
-webkit-animation-name:slideOutLeft;
animation-name:slideOutLeft;
}

.slideOutRight {
-webkit-animation-name:slideOutRight;
animation-name:slideOutRight;
}

.slideOutUp {
-webkit-animation-name:slideOutUp;
animation-name:slideOutUp;
}

.gunmetal {
color:#524e4d;
}

.gray {
color:#93a4aa;
}

.yellow {
color:#FDCD3B;
}

.divider {
width:60px;
height:4px;
background-color:#FDCD3B;
margin:32px auto;
}

p.intro {
font-size:2rem;
line-height:1.4;
font-weight:700;
text-align:center;
margin:6rem 0 1.8rem;
}

p.statement {
font-size:1.6rem;
text-align:center;
}

a.button:hover {
border:2px solid #444;
}

section {
padding:0 0 50px;
}

.navbar {
position:absolute;
top:0;
left:0;
display:block;
width:100%;
background-color:transparent;
z-index:99;
}

.navbar a.logo img {
float:left;
display:block;
position:relative;
width:60px;
height:auto;
margin-top:20px;
}

.navbar nav.navigation {
float:right;
margin-top:3px;
display:block;
background:none;
padding:0;
}

.navbar nav>ul {
list-style:none;
}

.navbar nav>ul>li {
font-family:Montserrat, sans-serif;
float:left;
margin:30px 0 20px;
}

.navbar nav>ul>li>a.nav-link {
display:block;
text-decoration:none;
float:left;
color:rgba(255,255,255,0.7);
font-size:13px;
font-weight:700;
text-transform:uppercase;
letter-spacing:1px;
padding:10px 20px;
}

.navbar nav>ul>li>a.button {
margin-left:10px;
color:rgba(255,255,255,0.7);
background-color:transparent;
border:2px solid rgba(255,255,255,0.7);
}

.navbar nav>ul>li>a.button:hover {
color:#fff;
border-color:#fff;
}

footer {
background-color:#2A3A3F;
color:#fff;
text-align:center;
padding:80px 0 50px;
}

footer a.logo {
position:relative;
background-image:url(../images/logomark.png);
background-size:100%;
display:inline-block;
width:34px;
height:34px;
text-indent:-99999px;
margin:0 auto;
}

footer p.made-by-me {
color:rgba(255,255,255,0.4);
font-size:1.3rem;
line-height:1.8;
margin:24px 0;
}

footer .made-by-me a {
color:rgba(255,255,255,0.4);
text-decoration:none;
}

footer .social-links a {
display:inline-block;
color:rgba(255,255,255,0.6);
text-decoration:none;
height:36px;
width:36px;
font-size:1.6rem;
line-height:2.3;
background-color:rgba(0,0,0,0.1);
border-radius:50px;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
margin:0 4px;
}

footer .social-links a:hover {
color:#fff;
background-color:rgba(0,0,0,0.3);
border:none;
}

#fullscreen-hero {
height:100vh;
position:relative;
text-align:center;
width:100%;
min-height:350px;
background-color:#2A3A3F;
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
}

#halfscreen-hero {
position:relative;
min-height:350px;
height:70vh;
width:100%;
overflow:hidden;
text-align:center;
background-color:#2A3A3F;
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
}

.home-hero {
position:relative;
background-image:none;
}

.home-hero:before {
content:"";
display:block;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
pointer-events:none;
background-image:linear-gradient(90deg,rgba(49,61,65,0.6), rgba(49,61,65,0.6));
}

.hero-container {
display:table;
height:100%;
margin:0 auto;
padding:0 20px;
}

.hero-content h1 {
font-size:2.3rem;
color:#fff;
margin-bottom:0;
}

.hero-content a.button-ghost {
font-size:1.1rem;
border:2px solid #FDCD3B;
margin:3.6rem 0 0;
padding:1rem 2.6rem;
}

.hero-content a.button-ghost:hover {
padding:1rem 3.4rem;
}

.learn-more {
bottom:2.5%;
display:inline-block;
font-size:1.3rem;
left:50%;
position:absolute;
white-space:nowrap;
z-index:2;
text-decoration:none;
-webkit-transition:color .2s ease-out;
transition:color .2s ease-out;
-webkit-transform:translateX(-50%);
transform:translateX(-50%);
padding:20px;
}

.learn-more a {
color:rgba(255,255,255,0.7);
text-decoration:none;
border-bottom:none;
}

.learn-more a:hover {
color:rgba(255,255,255,0.9);
}

.home-logo img {
top:2.5%;
display:inline-block;
left:50%;
width:50px;
height:auto;
position:absolute;
white-space:nowrap;
z-index:2;
text-decoration:none;
-webkit-transform:translateX(-50%);
transform:translateX(-50%);
padding:20px;
}

.cd-words-wrapper {
display:inline-block;
position:relative;
text-align:left;
}

.cd-words-wrapper b {
display:inline-block;
position:absolute;
white-space:nowrap;
left:0;
top:0;
}

.no-js .cd-words-wrapper b.is-visible {
opacity:1;
}

.cd-headline.type .cd-words-wrapper {
vertical-align:top;
overflow:hidden;
font-weight:400;
}

.cd-headline.type .cd-words-wrapper::after {
content:'';
position:absolute;
right:0;
top:50%;
bottom:auto;
-webkit-transform:translateY(-50%);
transform:translateY(-50%);
height:90%;
width:1px;
background-color:#aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
-webkit-animation:cd-pulse 1s infinite;
animation:cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
background-color:#93a4aa;
}

.cd-headline.type b.is-visible {
visibility:visible;
font-style:normal;
}

.cd-headline.type i {
position:absolute;
visibility:hidden;
font-style:normal;
}

.cd-headline.type i.in {
position:relative;
visibility:visible;
font-style:normal;
}

#me {
background-color:#fff;
text-align:center;
margin:0 auto;
}

#me .expertise-block {
margin:4rem 0 1rem;
}

#me .expertise-block img {
width:auto;
height:14rem;
max-width:100%;
}

#me .expertise-block h4.title {
margin:1.8rem 0;
}

#me .expertise-block p {
margin-bottom:0;
line-height:1.8;
font-size:1.4rem;
}

#me i.fa {
font-size:5rem;
}

#work {
background-color:#eee;
}

#work .container {
max-width:960px;
}

#work p.statement {
margin-bottom:0;
}

#work .six.columns {
margin-left:0;
}

.project-showcase {
position:relative;
overflow:hidden;
border-bottom:1px solid #d6e1e5;
padding:50px 0 0;
}

.project-showcase .project-content {
text-align:center;
margin:2em 0;
}

.project-showcase img.project-image {
position:relative;
width:100%;
}

.project-showcase .project-content .project-title {
font-size:1.45em;
font-weight:700;
margin-bottom:0;
}


.project-showcase .project-content .project-description {
line-height:1.6;
font-size:1.4rem;
margin:15px 0 28px;
}

.project-showcase .project-content .project-tags {
color:#b2c6cd;
font-size:1.1rem;
font-weight:700;
letter-spacing:1px;
opacity:1;
text-transform:uppercase;
}

.project-showcase .project-content .project-tags:before {
content:"\2022";
margin-right:4px;
color:#FDCD3B;
font-size:1.8rem;
}

.project-showcase .project-content .project-tags li:last-child:after {
content:"";
}

.project-showcase .project-content .project-tags li:after {
content:",";
}

.project-showcase a.button {
margin:10px 0 20px;
}

.project-testimonial {
text-align:center;
border-bottom:solid 1px #d6e1e5;
padding:3em 0;
}

.project-testimonial:last-child {
border-bottom:0;
}

.project-testimonial blockquote {
font-size:1.6rem;
line-height:1.4;
max-width:30em;
margin:0 auto 1.2em;
}

.project-testimonial-avatar {
display:inline-block;
border-radius:50%;
background:#eee;
height:50px;
overflow:hidden;
width:50px;
vertical-align:middle;
margin-bottom:10px;
}

.project-testimonial-avatar img {
width:100%;
}

.project-testimonial-name {
color:#93a4aa;
display:inline-block;
font-size:1em;
margin-left:.6em;
}

#wip {
background:#fff;
text-align:center;
}

#wip img {
border-radius:6px;
width:90%;
height:auto;
margin:4rem 0 1.5rem;
}

#wip p.description {
margin:1rem 0;
}

#wip a.button {
margin:2rem 0 0;
}

#sub-footer {
background-color:#FDCD3B;
text-align:center;
margin:0 auto;
}

#sub-footer a.button {
margin:2.4rem 0 0;
padding:1.6rem 3.6rem;
}

#sub-footer a.button:hover {
padding:1.6rem 4.4rem;
}

#sub-footer a.btn {
margin:2.4rem 0 0;
}

.button.button-primary,button.button-primary {
color:#2A3A3F;
background-color:transparent;
border:2px solid #FDCD3B;
}

.button.button-primary:hover,.button.button-primary:focus,button.button-primary:hover,button.button-primary:focus {
color:#FDCD3B;
background-color:#2A3A3F;
border:2px solid #2A3A3F;
}

input[type="submit"].button-primary,input[type="reset"].button-primary,input[type="button"].button-primary {
color:#2A3A3F;
background-color:#FDCD3B;
border:0;
}

input[type="submit"].button-primary:hover,input[type="submit"].button-primary:focus,input[type="reset"].button-primary:hover,input[type="reset"].button-primary:focus,input[type="button"].button-primary:hover,input[type="button"].button-primary:focus {
color:#FDCD3B;
background-color:#2A3A3F;
}

.button-ghost,input.button-ghost {
color:#fff;
border:2px solid #FDCD3B;
background-color:transparent;
font-size:1.4rem;
margin:2.4rem 0 0;
padding:1.4rem 3.2rem;
}

.button-ghost:hover,input.button-ghost:hover {
color:#2A3A3F;
background-color:#FDCD3B;
border:2px solid #fff;
padding:1.4rem 4.2rem;
}

.cd-modal {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
visibility:hidden;
opacity:0;
pointer-events:none;
-webkit-transition:visibility 0 .3s opacity .3s 0 z-index 0 .3s;
transition:visibility 0 .3s opacity .3s 0 z-index 0 .3s;
}

.cd-modal::after {
content:'';
position:absolute;
left:0;
bottom:0;
width:100%;
height:60px;
pointer-events:none;
background:transparent;
}

.cd-modal .cd-modal-content {
height:100%;
width:100%;
overflow-y:auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.cd-modal .cd-modal-content .contact-header {
padding:50px 0 40px;
}

.cd-modal .cd-modal-content a.logo {
background-image:url(../images/logomark.png);
background-size:100%;
display:inline-block;
width:60px;
height:60px;
text-indent:-99999px;
opacity:1;
text-align:center;
border:0;
margin:0 auto;
}

.cd-modal .cd-modal-content p.statement {
margin-bottom:0;
font-size:1.4rem;
color:rgba(255,255,255,0.7);
}

.cd-modal .cd-modal-content .form-container {
width:95%;
margin:0 auto;
padding:44px 0 40px;
}

.cd-modal .cd-modal-content .form-container form input[type=text],.cd-modal .cd-modal-content .form-container form input[type=email] {
margin-bottom:32px;
font-size:1.3rem;
background-color:transparent;
border:2px solid #fff;
color:#fff;
}

.cd-modal .cd-modal-content .form-container form textarea {
font-size:1.3rem;
min-height:176px;
background-color:transparent;
border:2px solid #fff;
color:#fff;
}

.cd-modal .cd-modal-content .form-container form input[type=submit] {
border:2px solid #FDCD3B;
background:transparent;
color:#fff;
}

.cd-modal .cd-modal-content .form-container form input[type=submit]:hover {
background-color:#FDCD3B;
border:2px solid #FDCD3B;
color:#2A3A3F;
}

.cd-modal .cd-modal-content p.required {
font-size:1.3rem;
margin-top:12px;
color:rgba(255,255,255,0.7);
}

.modal-is-visible .cd-modal {
z-index:1;
visibility:visible;
opacity:1;
pointer-events:auto;
-webkit-transition:visibility 0 0 opacity .3s 0 z-index 0 0;
transition:visibility 0 0 opacity .3s 0 z-index 0 0;
}

.modal-is-visible .cd-modal .cd-modal-content {
-webkit-overflow-scrolling:touch;
}

.cd-modal-action .cd-modal-bg {
display:inline-block;
height:4em;
background-color:#2A3A3F;
position:absolute;
z-index:1;
left:50%;
top:0;
width:4em;
border-radius:50%;
opacity:0;
visibility:hidden;
-webkit-transform:translateX(-2em);
transform:translateX(-2em);
-webkit-transition:visibility 0 .5s;
transition:visibility 0 .5s;
}

.cd-modal-action .btn {
display:inline-block;
height:auto;
width:15em;
line-height:4rem;
border-radius:5em;
color:#2A3A3F;
border:2px solid #2A3A3F;
white-space:nowrap;
font-size:1.2rem;
font-weight:700;
text-transform:uppercase;
text-decoration:none;
background-color:#FDCD3B;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
-webkit-transition:color .2s .3s background-color .3s ease-in-out, width .3s 0;
transition:color .2s .3s background-color .3s ease-in-out, width .3s 0;
}

.cd-modal-action .btn:hover {
background-color:#2A3A3F;
color:#FDCD3B;
width:16.5em;
}

.cd-modal-action .btn.to-circle {
width:4em;
color:transparent;
-webkit-transition:color .2s 0 background-color .3s ease-in-out, width .3s .2s;
transition:color .2s 0 background-color .3s ease-in-out, width .3s .2s;
}

.cd-modal-action .cd-modal-bg.is-visible {
opacity:1;
visibility:visible;
}

.cd-modal-close {
position:fixed;
z-index:1;
top:20px;
right:5%;
height:50px;
width:50px;
border-radius:50%;
background:rgba(0,0,0,0.3) url(../images/cd-icon-close.svg) no-repeat center center;
overflow:hidden;
text-indent:100%;
white-space:nowrap;
visibility:hidden;
opacity:0;
-webkit-transform:scale(0);
transform:scale(0);
-webkit-transition:visibility 0 .3s opacity .3s 0 0 .3s 0;
transition:transform .3s 0 visibility 0 .3s opacity .3s 0 0 .3s 0;
}

.no-touch .cd-modal-close:hover {
background-color:rgba(0,0,0,0.5);
}

.modal-is-visible .cd-modal-close {
visibility:visible;
opacity:1;
-webkit-transition:visibility 0 0 opacity .3s 0 0 .3s 0;
transition:transform .3s 0 visibility 0 0 opacity .3s 0 0 .3s 0;
-webkit-transform:scale(1);
transform:scale(1);
}

#success-bg,#error-bg {
height:100vh;
position:relative;
text-align:center;
width:100%;
min-height:350px;
background-color:#eee;
}

.success-container,.error-container {
display:table;
height:100%;
margin:0 auto;
padding:0 40px;
}

.success-content i.fa,.error-content i.fa {
font-size:3.6rem;
margin:0 0 20px;
}

.success-content i.fa.fa-check-circle,.error-content i.fa.fa-check-circle {
color:#41c97f;
}

.success-content i.fa.fa-frown-o,.error-content i.fa.fa-frown-o {
color:#e00007;
}

.success-content h1,.error-content h1 {
font-size:2.6rem;
}

.success-content a.button,.error-content a.button {
margin:10px 0 0;
}

svg:not(:root),body.overflow-hidden {
overflow:hidden;
}

p,.cd-modal .cd-modal-content p.intro {
margin-top:0;
}

input[type="checkbox"],input[type="radio"],.project-showcase .project-content .project-tags li {
display:inline;
}

li,button,.button {
margin-bottom:1rem;
}

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY {
-webkit-animation-duration:.75s;
animation-duration:.75s;
}

25%,75%,.no-js .cd-words-wrapper b {
opacity:0;
}

.slate,.cd-headline.type .cd-words-wrapper.selected b {
color:#2A3A3F;
}

.white,.navbar nav>ul>li>a:hover {
color:#fff;
}

footer a,footer a:hover,#sub-footer a.cd-modal-close {
border-bottom:none;
}

#fullscreen-hero:before,#fullscreen-hero:after,#halfscreen-hero:before,#halfscreen-hero:after {
content:'';
position:absolute;
bottom:0;
width:100%;
}

.hero-content,.success-content,.error-content {
display:table-cell;
position:relative;
z-index:10;
text-align:center;
vertical-align:middle;
}

.cd-words-wrapper b.is-visible,.cd-modal-action {
position:relative;
}

.cd-headline.type .cd-words-wrapper.selected::after,.cd-headline.type b {
visibility:hidden;
}

.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus {
color:#505051;
outline:0;
border-color:#505051;
padding:1.2rem 4rem;
}

:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder {
color:rgba(255,255,255,0.7);
}

@media min-width 400px{
.container {
width:85%;
padding:0;
}
}

@media min-width 550px{
.container {
width:80%;
}

.column,.columns {
margin-left:4%;
}

.column:first-child,.columns:first-child {
margin-left:0;
}

.one.column,.one.columns {
width:4.66666666667%;
}

.two.columns {
width:13.3333333333%;
}

.three.columns {
width:22%;
}

.five.columns {
width:39.3333333333%;
}

.seven.columns {
width:56.6666666667%;
}

.nine.columns {
width:74%;
}

.ten.columns {
width:82.6666666667%;
}

.eleven.columns {
width:91.3333333333%;
}

.twelve.columns {
width:100%;
margin-left:0;
}

.offset-by-one.column,.offset-by-one.columns {
margin-left:8.66666666667%;
}

.offset-by-two.column,.offset-by-two.columns {
margin-left:17.3333333333%;
}

.offset-by-three.column,.offset-by-three.columns {
margin-left:26%;
}

.offset-by-five.column,.offset-by-five.columns {
margin-left:43.3333333333%;
}

.offset-by-seven.column,.offset-by-seven.columns {
margin-left:60.6666666667%;
}

.offset-by-nine.column,.offset-by-nine.columns {
margin-left:78%;
}

.offset-by-ten.column,.offset-by-ten.columns {
margin-left:86.6666666667%;
}

.offset-by-eleven.column,.offset-by-eleven.columns {
margin-left:95.3333333333%;
}

h1 {
font-size:5rem;
}

h2 {
font-size:4.2rem;
}

h3 {
font-size:3.6rem;
}

h4 {
font-size:3rem;
}

h5 {
font-size:2.4rem;
}

h6 {
font-size:1.5rem;
}

.four.columns,.one-third.column {
width:30.6666666667%;
}

.six.columns,.one-half.column {
width:48%;
}

.eight.columns,.two-thirds.column {
width:65.3333333333%;
}

.offset-by-four.column,.offset-by-four.columns,.offset-by-one-third.column,.offset-by-one-third.columns {
margin-left:34.6666666667%;
}

.offset-by-six.column,.offset-by-six.columns,.offset-by-one-half.column,.offset-by-one-half.columns {
margin-left:52%;
}

.offset-by-eight.column,.offset-by-eight.columns,.offset-by-two-thirds.column,.offset-by-two-thirds.columns {
margin-left:69.3333333333%;
}
}

@media screen and min-width 550px{
body {
font-size:1.4rem;
}

section {
padding:0 0 65px;
}

.home-hero {
background-image:url(../images/hero-bg.jpg);
}

.hero-container {
padding:0 40px;
}

.hero-content a.button-ghost {
font-size:1.4rem;
border:2px solid #FDCD3B;
margin:6rem 0 0;
padding:1.4rem 3.2rem;
}

.hero-content a.button-ghost:hover {
padding:1.4rem 4rem;
}

.project-showcase .project-content {
text-align:left;
}

.project-testimonial blockquote {
font-size:2.1rem;
}

.project-testimonial-avatar {
margin-bottom:0;
}

.cd-modal-action .btn {
font-size:1.4rem;
line-height:5rem;
}
}

@media screen and min-width 750px{
p.intro {
font-size:3.2rem;
margin:10rem 0 2rem;
}

p.statement {
font-size:2rem;
}

section {
padding:0 0 80px;
}

footer a.logo {
width:40px;
height:40px;
}

.hero-content h1 {
font-size:3.4rem;
}

.learn-more {
font-size:1.7rem;
}

.home-logo img {
width:65px;
}

#me .expertise-block {
margin:4rem 0 0;
}

.project-showcase {
padding:80px 0 20px;
}

.project-showcase .project-content {
margin:0;
}

.project-showcase .project-content.text-left {
padding-right:7rem;
}

.project-showcase .project-content.text-right {
padding-left:7rem;
}

.project-showcase a.button {
margin:10px 0 60px;
}

.project-testimonial {
padding:4em 0;
}

.project-testimonial-avatar {
height:70px;
width:70px;
}

#wip img {
margin:4rem 0 1rem;
}

.cd-modal .cd-modal-content a.logo {
width:70px;
height:70px;
}

.success-content i.fa,.error-content i.fa {
font-size:4.8rem;
}

.success-content h1,.error-content h1 {
font-size:3.6rem;
}

.success-content a.button,.error-content a.button {
margin:30px 0 0;
}
}

@media screen and min-width 1000px{
section {
padding:0 0 100px;
}

.hero-content h1 {
font-size:5.7rem;
}

.home-logo img {
width:80px;
}

.project-showcase .project-content .project-title {
font-size:2.8rem;
}

.success-content i.fa,.error-content i.fa {
font-size:7.2rem;
}

.success-content h1,.error-content h1 {
font-size:6rem;
}
}

@media min-width 750px{
.cd-modal .cd-modal-content p.statement {
font-size:1.75rem;
}

.cd-modal .cd-modal-content .form-container {
width:80%;
}
}

@media min-width 1000px{
.cd-modal .cd-modal-content .form-container {
width:50%;
margin:0 auto;
padding:50px 0;
}
}

@media only screen and min-width 768px{
.cd-modal-close {
top:50px;
}
}